# ==============================
# AI_NEET
# Requirements
# Python 3.12
# ==============================

# ------------------------------
# PDF Processing
# ------------------------------
PyMuPDF==1.26.3
pdfplumber==0.11.7
Pillow==11.3.0

# ------------------------------
# OCR
# ------------------------------
pytesseract==0.3.13

# ------------------------------
# Data
# ------------------------------
numpy==2.3.1
pandas==2.3.1

# ------------------------------
# AI Embeddings
# ------------------------------
sentence-transformers==5.0.0

# ------------------------------
# Vector Database
# ------------------------------
faiss-cpu==1.11.0.post1

# ------------------------------
# Configuration
# ------------------------------
PyYAML==6.0.2

# ------------------------------
# Progress Bars
# ------------------------------
tqdm==4.67.1

# ------------------------------
# HTML
# ------------------------------
Jinja2==3.1.6

# ------------------------------
# Utilities
# ------------------------------
python-dotenv==1.1.1

# ------------------------------
# Logging
# ------------------------------
colorlog==6.9.0

# ------------------------------
# Future AI Support
# ------------------------------
openai
ollama

# ------------------------------
# Development
# ------------------------------
black